.playlist-item {
  width: 100%;
  font-size: 14px;
  line-height: 24px;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.5);
  margin: -0.5px 0;
  color: #8e94b3;
  cursor: pointer;
  user-select: none;
  transition: background-color 0.2s, color 0.2s;

  .container {
    box-sizing: border-box;
    width: calc(100% - 8px * 2);
    margin: 8px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &:first-child {
    margin-top: -1px;
  }

  &:last-child {
    border-bottom: 1px solid rgba(255, 255, 255, 0.75);
  }

  &:hover {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.1);

    &:global(.overflowed) {
      .content {
        display: inline-block; // https://drafts.csswg.org/css-transforms/#transformable-element
        animation: marquee 5s infinite linear;

        &::after {
          content: attr(data-content);
          margin: 0 8px;
        }
      }
    }
  }

  &:global(.selected) {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.3);
  }

  @keyframes marquee {
    from {
      transform: translateX(0);
    }

    to {
      transform: translateX(-50%);
    }
  }
}
